# {{ ansible_managed }}
# Red Hat Demo - Collectd Configuration

# Global settings
Hostname "{{ ansible_hostname }}"
FQDNLookup true
BaseDir "/var/lib/collectd"
PluginDir "/usr/lib64/collectd"
TypesDB "/usr/share/collectd/types.db"
AutoLoadPlugin false
CollectInternalStats false

# Logging
LoadPlugin syslog
<Plugin syslog>
    LogLevel info
</Plugin>

# System metrics
LoadPlugin cpu
LoadPlugin df
LoadPlugin disk
LoadPlugin interface
LoadPlugin load  
LoadPlugin memory
LoadPlugin swap
LoadPlugin uptime

# Process monitoring (simplified)
LoadPlugin processes
<Plugin processes>
    Process "nginx"
    Process "httpd"
    Process "mariadb"
</Plugin>

# Write to RRD files (basic configuration)
LoadPlugin rrdtool
<Plugin rrdtool>
    DataDir "/var/lib/collectd/rrd"
    CacheTimeout 120
    CacheFlush 900
</Plugin> 